@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cairo:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(41, 40, 40, 0.9);
    text-align: center;
}

.container{
    position: relative;
    color: whitesmoke;
}
.container p{
    color: snow;
    padding: 20px 200px;
    min-width: 700px;   
}
hr{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    margin-bottom: 20px;
}

.container h1{
    position: relative;
    justify-content: center;
    align-content: center;
    font-size: 80px;
    margin:50px 0 120px 0;
    color: whitesmoke;
    text-transform: uppercase;
}
.container h2{
    font-family: 'Cairo', sans-serif;
    position: relative;
    color: snow;
    padding-bottom: 10px;
    margin-top: 50px;
    font-weight: bolder;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.container h4{
    margin-top: 120px;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-transform: uppercase;
}
.container .cards{
    display: inline-flex;
    justify-content: center;
    margin: 0 50px 50px 50px;
}
.container .cards img{
    margin-top: 85px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.container .cards .contentbx h3{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
.container .cards span{
    font-weight: 5;
    font-size: small;
    font-style: italic;
}
/* .footer{

    background-color: rgb(78, 75, 69);
    padding: 5px 0;

} */