@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Passion+One:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(41, 40, 40, 0.9);
}
nav{
    overflow: hidden;
    background-color: #333;
    height: 50px;
    width: 100%;
}
label.logo {
    font-family: 'Flavors', cursive;
    font-family: 'Passion One', cursive;
    position: relative;
    text-transform: uppercase;
    color: whitesmoke;
    float: left;
    font-size: 40px;
    line-height: 50px;
    padding: 0 50px;
    font-weight: bold;
}
nav ul {
    float: right;
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0px 5px;
}
nav ul li a{
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    padding: 7px 13px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
a.active, a:hover {
    border-radius: 5px;
    box-shadow: 2px 3px whitesmoke;
    border: 2px solid snow;
    transition: .5s;
}
h2{
    position: relative;
    font-size: 48px;
    text-align: center;
    color: snow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    top: 20px;
}